<div class="container">
  <h3>新增异常记录</h3>

  <%= simple_form_for @abnormal do |f| %>
    <%= f.label :input_time, "日期" %>
    <%= f.text_field :input_time, :value => Date.today.strftime("%Y-%m-%d"), :class => "form-control" %> <br>
    <%= f.input :client, label: "客户" %>
    <%= f.input :envelop, label: "制式袋" %>
    <%= f.input :model_no, label: "款号" %>
    <%= f.input :raw_delivery, label: "版交期/出货期" %>
    <%= f.input :quantity, label: "件数" %>
    <%= f.input :merchandiser, label: "业务" %>

    <!--======================== 单选项：负责人 ========================-->
    <%= f.label :principal, "负责人" %>
    <br>
    <% @principal_option.each do |option| %>
      <% unless option.empty? %>
      <input id="abnormal_principal" name="abnormal[principal]" type="radio" value="<%= option %>" class="radio_1" />
      <label for="abnormal[principal]"><%= option %></label>
      <% end %>
    <% end %>
    <input id="abnormal_principal" name="abnormal[principal]" type="radio" value="" class="radio_other_1" />
    <label for="abnormal[principal]">其他</label>
    <input type="text" name="abnormal[department]" id="radio_other_1_input">
    <!--======================== 单选结束 ========================-->

    <%= f.input :reason, label: "异常原因" %>

    <%= f.input :faulter, label: "当事人" %>

    <hr>
    <%= f.label :new_delivery, "新交期" %>
    <%= f.text_field :new_delivery,:value => Date.today.strftime("%Y-%m-%d"), :class => "form-control" %>

    <!--======================== 单选项：部门 ========================-->
    <br><br>
    <%= f.label :department, "部门" %>
    <br>
    <% @department_option.each do |option| %>
      <% unless option.empty? %>
      <input id="abnormal_department" name="abnormal[department]" type="radio" value="<%= option %>" class="radio_2" />
      <label for="abnormal[department]"><%= option %></label>
      <% end %>
    <% end %>
    <input id="abnormal_principal" name="abnormal[department]" type="radio" value="" class="radio_other_2" />
    <label for="abnormal[principal]">其他</label>
    <input type="text" name="abnormal[department]" id="radio_other_2_input">
    <hr>
    <!--======================== 单选结束 ========================-->
    <%= f.input :remarks, label: "备注" %>
    <%= f.submit "提交", class: "btn btn-success btn-long" %>
  <% end %>
</div>


<script>
// 选择单选还是手工输入
$(".radio_1").click(function(){
  $("#radio_other_1_input").attr("name", "");
})
$(".radio_other_1").click(function(){
  $("#radio_other_1_input").attr("name", "abnormal[principal]");
})

$(".radio_2").click(function(){
  $("#radio_other_2_input").attr("name", "");
})
$(".radio_other_2").click(function(){
  $("#radio_other_2_input").attr("name", "abnormal[department]");
})

// 在"其他"输入框输入时，自动选中
$("#radio_other_1_input").click(function(){
  $(".radio_other_1").prop("checked", true);
  $("#radio_other_1_input").attr("name", "abnormal[department]");
})

$("#radio_other_2_input").click(function(){
  $(".radio_other_2").prop("checked", true);
  $("#radio_other_2_input").attr("name", "abnormal[department]");
})



$("#abnormal_input_time").datepicker({ format: "yyyy-mm-dd", language: "<%= I18n.locale %>" });
$("#abnormal_new_delivery").datepicker({ format: "yyyy-mm-dd", language: "<%= I18n.locale %>" });



</script>
