
<div style="position: relative;">
  <div class="col-sm-6">
    <%= form_tag abnormals_path, :method => :get do %>
        筛选资料：<%= text_field_tag :start_on, params[:start_on], :id => "start_date", :value => render_last_three_month_start(Date.today) %>
        ～
        <%= text_field_tag :end_on, params[:end_on], :id => "end_date", :value => render_last_three_month_end(Date.today) %>
        <%= submit_tag "送出筛选", :class => "btn btn-success btn-sm" %>
    <% end %>
    <% current_m = Date.today.month %>
    快速选择：
    <%= link_to "近3月", abnormals_path, class: "btn btn-xs btn-success" %>
    <%= link_to "#{current_m}月", abnormals_path(start_on: render_month_first(current_m), end_on: render_month_last(current_m)), class: "btn btn-xs btn-success" %>
    <%= link_to "#{current_m - 1}月", abnormals_path(start_on: render_month_first(current_m -1), end_on: render_month_last(current_m -1)), class: "btn btn-xs btn-success" %>
    <%= link_to "#{current_m - 2}月", abnormals_path(start_on: render_month_first(current_m -2), end_on: render_month_last(current_m -2)), class: "btn btn-xs btn-success" %>
  </div>
  <div class="col-sm-6 csv-form">
    <%= form_tag import_abnormals_path, multipart: true do %>
      <%= file_field_tag "csv_file" %>
      <%= submit_tag "导入CSV数据", class: "btn btn-info btn-sm" %>
    <% end %>
    <%= link_to "新增记录", new_abnormal_path, class: "btn btn-sm btn-primary pull-left" %>
    <% if current_user && current_user.is_admin? %>
      <%= link_to "导出Excel",abnormals_path(:format => "xlsx"), id: "download_excel_btn", class: "btn btn-sm btn-success" %>
    <% else %>
      <button type="button" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top" title="您不是管理员哦~">导出Excel</button>
    <% end %>
  </div>
  <br><br><br>
  <legend class="text-center" style="color: #555;">当前位置：<%= render_date_helper(@start_date, @end_date) %>的异常记录</legend>
  <!--======================== 生成图表 ========================-->
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-sm-9">
          <h5 class="text-center" style="color: #666"><b>按部门统计件数</b></h5>
          <canvas id="myChart" width="160" height="140"></canvas>
        </div>
        <div class="col-sm-3">
            <% panel_color_a = ["primary", "success", "info", "warning", "danger"] %>
            <div class="panel panel-<%= panel_color_a.shuffle.first %>">
              <div class="panel-heading">
                <i class="fa fa-line-chart" aria-hidden="true"></i>
                 点击分析原因：
              </div>
              <div class="panel panel-body">
                <div class="row">
                  <% @department_hash_file.each do |k, v| %>
                    <div class="col-xs-6">
                      <%= render_rand_color_btn(k,"#", "reason_#{v}", "btn-xs") %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
        </div>
      </div>
      <canvas id="myChart_2" width="200" height="140"></canvas>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-sm-9">
            <h5 class="text-center" style="color: #666"><b>按处理方式统计件数</b></h5>
            <canvas id="myChart_3" width="160" height="140"></canvas>
          </div>
          <div class="col-sm-3">
              <div class="panel panel-<%= panel_color_a.shuffle.first %>">
                <div class="panel-heading">
                  <i class="fa fa-line-chart" aria-hidden="true"></i>
                   点击分析原因：
                </div>
                <div class="panel panel-body">
                  <div class="row">
                    <% @deal_method_hash_file.each do |k, v| %>
                      <div class="col-xs-6">
                        <%= render_rand_color_btn(k,"#", "reason_#{v}", "btn-xs") %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <canvas id="myChart_4" width="200" height="140"></canvas>
        </div>
  </div>
  <!--======================== 图表结束 ========================-->

<!--======================== 查看原因 ========================-->

<%= link_to check_reason_abnormals_path, id: "all_reason_btn", class: "btn btn-success btn-lg btn-block"  do %>
  <i class="fa fa-lg fa-lightbulb-o" aria-hidden="true"></i>
  点击立即分析所有异常原因
<% end %>
<!--======================== 查看原因结束 ========================-->





<div class="container-fluid page">
<div class="row">


  <div class="pull-right">

  </div>
  <br>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>日期</th>
        <th>客户</th>
        <th>制工袋</th>
        <th>款号</th>
        <th width="100px">图片</th>
        <th>版交期/出货期</th>
        <th>件数</th>
        <th>业务</th>
        <th>负责人</th>
        <th>异常原因</th>
        <th>当事人</th>
        <th>部门</th>
        <th>处理方式</th>
        <th>新交期</th>
        <th>备注</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @abnormals.each do |abnormal| %>
        <tr>
          <td>
            <% if abnormal.input_time.present? %>
              <%= render_content_display abnormal.input_time.strftime("%y-%m-%d"), "success"%>
            <% end %>
          </td>
          <td><%= abnormal.client %></td>
          <td>
            <% if abnormal.envelop.present? %>
              <%= link_to abnormal.envelop, @envelop_link + abnormal.envelop, :target => "_blank" %>
            <% end %>
          </td>
          <td>
            <% if abnormal.model_no.present? %>
              <%= link_to abnormal.model_no, @model_no_link + abnormal.model_no, :target => "_blank" %>
            <% end %>
          </td>
          <td width="100px">
            <% if abnormal.image.present? %>
              <%= image_tag abnormal.image.thumb, style: "width: 100px;", class: "thumbnail img-responsive" %>
            <% else %>
              <%= image_tag("http://olmrxx9ks.bkt.clouddn.com/2017-08-19-%E5%B1%8F%E5%B9%95%E5%BF%AB%E7%85%A7%202017-08-19%20%E4%B8%8B%E5%8D%885.51.10.png", style: "width: 100px;", class:"thumbnail img-responsive" )%>
            <% end %>
          </td>
          <td><%= render_content_display abnormal.raw_delivery, "success", "success" %></td>
          <td><%= abnormal.quantity %></td>
          <td><%= abnormal.merchandiser %></td>
          <td><%= abnormal.principal %></td>
          <td><%= abnormal.reason %></td>
          <td><%= render_content_display abnormal.faulter, "default", "default" %></td>
          <td><%= render_content_display abnormal.department, "info", "info" %></td>
          <td><%= render_content_display abnormal.deal_method, "danger", "danger" %></td>
          <td><%= render_content_display abnormal.new_delivery.to_s.sub(/\A20/, ''), "success", "success" %></td>
          <td><%= abnormal.remarks %></td>
          <td>
            <%= link_to "编辑", edit_abnormal_path(abnormal), class: "btn btn-info btn-xs" %>
            <%= link_to "删除", abnormal_path(abnormal), method: :delete, "data-confirm": "确定要删除吗？", class: "btn btn-danger btn-xs" %>
            <%= link_to "Get", update_envelop_abnormal_path(abnormal), method: :post, class: "btn btn-default btn-xs" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

      <div class="text-center">
        <%= will_paginate @posts %>
      </div>


</div>
</div>
</div>

<!--======================== 以下是overlay ========================-->
<div id="overlay"  onclick="off()">
  <div id="text_1" style= "display: none;" class="text-center">
  <i  class="fa fa-spinner fa-spin fa-fw"></i>
  正在生成数据，请稍等~
  </div>
  <div id="text_2" style="display: none;" class="text-center">
    已生成数据，尽快下载哦~
    <br>
    <%= link_to "立即下载", "/", class: "btn btn-info btn-bg", id: "download_file_btn" %>
  </div>
<!--=========== 以下是显示word cloud ===========-->
  <div id="word_cloud_container" style="display: none; overflow-x: auto; overflow-y: auto; height: 98%; width:98%; margin: auto; margin-top: 1%"></div>
<!--=========== 显示word cloud结束 ===========-->
</div>
<!--======================== 以上是overlay ========================-->

<!--======================== 时间戳辅助 ========================-->
<%= hidden_field_tag :start_on, params[:start_date_input], :value => @start_date.to_s %>
<%= hidden_field_tag :end_on, params[:end_date_input], :value => @end_date.present? ? @end_date.to_s : Time.now.to_s%>
<!--======================== 时间辅助结束 ========================-->



<!--======================== html结束 ========================-->



<!--======================== 以下是JS ========================-->
  <script type="text/javascript">

  var ctx = document.getElementById("myChart");
  var myChart = new Chart(ctx,<%= raw @all_department_chart_pie.to_json %>);
  var ctx = document.getElementById("myChart_2");
  var myChart_2 = new Chart(ctx,<%= raw @all_department_chart_bar.to_json %>);

  var ctx = document.getElementById("myChart_3");
  var myChart_3 = new Chart(ctx,<%= raw @all_deal_with_chart_pie.to_json %>);
  var ctx = document.getElementById("myChart_4");
  var myChart_4 = new Chart(ctx,<%= raw @all_deal_with_chart_bar.to_json %>);


  $("#download_excel_btn").click(function(evt){
    evt.preventDefault();
    var url = "<%= download_excel_abnormals_url %>"
    var start_on = $("#start_on").val();
    var end_on = $("#end_on").val();
    // 送出 Ajax
    $.ajax({
      url: url,
      method: 'get',
       dataType: 'json',
       data: { start_on: start_on, end_on: end_on },
       beforeSend: function(){
         $("#word_cloud_container").css("display", "none");
         $("#overlay").css("height", "100%");
         $("#text_1").css("display", "block");
         $("#text_2").css("display", "none");
       },
       success: function(data){
         if (data["status"] == "success"){
           $("#download_file_btn").prop("href", data["download_url"]);
           get_excel_file_status(data["file_url"]);
         }
       }
    })
  })

  function get_excel_file_status(file_url){
    var int = setInterval(function(){
    $.ajax({
      url: "/abnormals/excel_file_status",
      method: "get",
      dataType: "json",
      data: {file_url: file_url},
      success: function(data){
        if (data["status"] == "ok") {
          $("#text_1").css("display", "none");
          $("#text_2").css("display", "block");
          alert("已生成~");
          clearInterval(int);
        }
      }
    })
  }, 2000)
  }



  $("#download_file_btn").click(function(){
    $("#overlay").css("height", "0");
    $("#text_2").css("display", "none");
  })

  // 日期输入框的js辅助
  $("#start_date").datepicker({ format: "yyyy-mm-dd", language: "<%= I18n.locale %>" });
  $("#end_date").datepicker({ format: "yyyy-mm-dd", language: "<%= I18n.locale %>" });






  //异步加载word cloud
  function get_word_cloud(url){
    $.ajax({
      url: url,
      type:'get',
      dataType:'html',
      beforeSend: function(){
        $("#word_cloud_container").css("display", "none");
        $("#overlay").css("height", "100%");
        $("#text_1").css("display", "block");
      },
      success:function(data){
        $("#text_1").fadeOut();
        $("#text_2").fadeOut();
        $("#word_cloud_container").html(data);
        $("#word_cloud_container").fadeIn();
      }
    });
  }



  <% @deal_method_hash_file.each do |k, v| %>
    $("#reason_<%= v %>").click(function(){
        get_word_cloud('/abnormals/word_cloud' + "?file_name=" + "<%= v %>");
     return false;
    });
  <% end %>


  <% @department_hash_file.each do |k, v| %>
    $("#reason_<%= v %>").click(function(){
      get_word_cloud('/abnormals/word_cloud' + "?file_name=" + "<%= v %>");
    return false;
    });
  <% end %>

  $("#all_reason_btn").click(function(){
    get_word_cloud('/abnormals/word_cloud' + "?file_name=" + "<%= @all_reason_file %>");
    return false;
  })

  $(document).ready(function(){
    $.ajax({
      url: "/abnormals/word_cloud" + "?file_name=" + "<%= @department_hash_file.values.last %>",
      type:'get',
      dataType:'html',
      success:function(data){
        $("#word_cloud_container").html(data);
      }
    });
  })

  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })




</script>
