<h3>异常记录列表</h3>
<%= link_to "新增记录", new_abnormal_path, class: "btn btn-primary pull-right" %>
<%= link_to "导出excel", abnormals_path(:format => :xlsx), class: "btn btn-success" %>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>日期</th>
      <th>客户</th>
      <th>制工袋</th>
      <th>款号</th>
      <th>图片</th>
      <th>版交期/出货期</th>
      <th>件数</th>
      <th>业务</th>
      <th>负责人</th>
      <th>异常原因</th>
      <th>异常人</th>
      <th>部门</th>
      <th>新交期</th>
      <th>备注</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @abnormals.each do |abnormal| %>
      <tr>
        <td><%= abnormal.input_time %></td>
        <td><%= abnormal.client %></td>
        <td><%= link_to abnormal.envelop, @dia_url + '&' + 'envelopID=' + abnormal.envelop, method: :post %></td>
        <td><%= abnormal.model_no %></td>
        <td>
          <% if abnormal.image.present? %>
            <%= image_tag abnormal.image.thumb, style: "width: 100px;", class: "thumbnail img-responsive" %>
          <% else %>
            <%= image_tag("http://olmrxx9ks.bkt.clouddn.com/2017-08-19-%E5%B1%8F%E5%B9%95%E5%BF%AB%E7%85%A7%202017-08-19%20%E4%B8%8B%E5%8D%885.51.10.png", style: "width: 100px;", class:"thumbnail img-responsive" )%>
          <% end %>
        </td>
        <td><%= abnormal.raw_delivery %></td>
        <td><%= abnormal.quantity %></td>
        <td><%= abnormal.merchandiser %></td>
        <td><%= abnormal.principal %></td>
        <td><%= abnormal.reason %></td>
        <td><%= abnormal.faulter %></td>
        <td><%= abnormal.department %></td>
        <td><%= abnormal.new_delivery %></td>
        <td><%= abnormal.remarks %></td>
        <td>
          <%= link_to "编辑", edit_abnormal_path(abnormal), class: "btn btn-info btn-sm" %>
          <%= link_to "删除", abnormal_path(abnormal), method: :delete, "data-confirm": "确定要删除吗？", class: "btn btn-danger btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
