<div class="container page-html">
<div class="col-sm-4 col-sm-offset-4">
  <h3>新增异常记录</h3>

  <%= simple_form_for @abnormal do |f| %>
    <%= f.label :input_time, "日期" %>
    <%= f.text_field :input_time, :value => Date.today.strftime("%Y-%m-%d"), :class => "form-control" %> <br>
    <%= f.input :envelop, placeholder: "只能输一个", label: "制工袋" %>
    <%= f.input :model_no, placeholder: "若填了制工袋，可以不填款号，系统自动获取", label: "款号" %>
    <%= f.input :reason, label: "异常原因" %>
    <%= f.input :remarks, label: "备注" %>
    <%= f.input :faulter, placeholder: "如有多个，请用空格隔开~", label: "当事人" %>

    <!--======================== 单选项：负责人 ========================-->
    <%= f.label :principal, "负责人(单选)" %>
    <br>
    <% if @principal_option.present? %>
    <% @principal_option.each do |option| %>
      <% unless option.empty? %>
      <input id="abnormal_principal" name="abnormal[principal]" type="radio" value="<%= option %>" class="radio_1" />
      <label for="abnormal[principal]"><%= option %></label>
      <% end %>
    <% end %>
    <% end %>
    <input id="abnormal_principal" name="abnormal[principal]" type="radio" class="radio_other_1" />
    <label for="abnormal[principal]">其他</label>
    <input type="text" name="abnormal[principal]" id="radio_other_1_input" placeholder="只能输一个">
    <hr>
    <!--======================== 单选结束 ========================-->
    <%= f.label :new_delivery, "新交期" %>
    <%= f.text_field :new_delivery,:value => Date.today.strftime("%Y-%m-%d"), :class => "form-control" %>


    <!--======================== 单选项：处理方式 ========================-->
    <hr>
    <%= f.label :deal_method, "处理方式(多选)" %>
    <br>
    <% if @deal_method_option.present? %>
      <% @deal_method_option.each do |option| %>
        <% unless option.empty? %>

        <input id="abnormal[deal_method]" name="abnormal[deal_method][]" type="checkbox" value="<%= option %>" />
        <label for="abnormal[deal_method]"><%= option %></label>

        <% end %>
      <% end %>
    <% end %>
    <input id="check_other_1" type="checkbox" />
    <label for="abnormal[deal_method]">其他</label>
    <input type="text" name="abnormal[deal_method][]" id="check_other_input_1">
    <hr>
    <!--======================== 结束 ========================-->

    <!--======================== 单选项：部门 ========================-->
    <%= f.label :department, "部门(多选)" %>
    <br>
    <% if @department_option.present? %>
      <% @department_option.each do |option| %>
        <% unless option.empty? %>

        <input id="abnormal[department]" name="abnormal[department][]" type="checkbox" value="<%= option %>" />
        <label for="abnormal[department]"><%= option %></label>

        <% end %>
      <% end %>
    <% end %>
    <input id="check_other_2" type="checkbox" />
    <label for="abnormal[department]">其他</label>
    <input type="text" name="abnormal[department][]" id="check_other_input_2">
    <hr>

    <!--======================== 单选结束 ========================-->
    <%= f.input :quantity, label: "数量（默认为1）" %>




    <%= f.submit "提交", class: "btn btn-success btn-block" %>
  <% end %>
</div>
</div>


<script>
// 检查其他输入框，自动选中
$("#check_other_input_1").click(function(event){
  event.stopPropagation();
  $("#check_other_1").prop("checked", true);
})

$("#check_other_1").click(function(event){
  event.stopPropagation();
})

$(".page-html").click(function(){
  var other_input_1 = $("#check_other_input_1").val();
  if (other_input_1 == "") {
    $("#check_other_1").prop("checked", false);
  }
})
/////////
$("#check_other_input_2").click(function(event){
  event.stopPropagation();
  $("#check_other_2").prop("checked", true);
})

$("#check_other_2").click(function(event){
  event.stopPropagation();
})

$(".page-html").click(function(){
  var other_input_2 = $("#check_other_input_2").val();
  if (other_input_2 == "") {
    $("#check_other_2").prop("checked", false);
  }
})

//单选框的辅助
$("#radio_other_1_input").click(function(){
  $(".radio_other_1").prop("checked", true);
  $("#radio_other_1_input").prop("name", "abnormal[principal]");
})

$(".radio_1").click(function(){
  $("#radio_other_1_input").attr("name", "")
})


$("#abnormal_input_time").datepicker({ format: "yyyy-mm-dd", language: "<%= I18n.locale %>" });
$("#abnormal_new_delivery").datepicker({ format: "yyyy-mm-dd", language: "<%= I18n.locale %>" });



</script>
