<!DOCTYPE html>
<html>
  <head>
    <title>QiongOffice</title>
    <%= csrf_meta_tags %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
    <script src="https://s3-ap-northeast-1.amazonaws.com/qiongoffice/chartsjs-plugin-data-labels.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <div class="container-fluid">
          <%= render "common/navbar" %>
          <%= render "common/flashes" %>
          <%= yield %>
      </div>

      <%= render "common/footer" %>

  </body>
</html>
